<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:replace="/layout/layout :: head">
<body> 
				  <header th:replace="/layout/layout :: header"></header>
<div class="card border-primary text-center">
		<div class="card bg-white text-black">
			<div class="card-header" th:text="${title2}"></div>
			 
			 
			 			<div style="text-align:center">
<img src="https://sites.google.com/site/globaltechtvsac/home/productos/15.jpg"
			 width="300" height="250">
			 </div> 
			 
			 
				<form th:action="@{/producto/save}" th:object="${product}" method="post">

	
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Nombre:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{name}"  placeholder="Nombre"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}"></small>										

						</div>
					</div>


 

					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Precio:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" step="any" type="number" 
								th:field="*{price}" placeholder="Precio"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('price')}"
								th:errors="*{price}"></small>										

						</div>
					</div>


						<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Fecha:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{createdAt}" placeholder="formato: dd-mm-aa"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
								th:if="${#fields.hasErrors('createdAt')}"
								th:errors="*{createdAt}"></small>										

						</div>
					</div>




					<hr />
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/producto/list}">
							<i class="material-icons">cancel</i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="material-icons">save</i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />


				</form>
 </div></div>
			
	<footer th:replace="/layout/layout :: footer"></footer>
 
</body>
</html>