<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:replace="/layout/layout :: head">
</head>
<body>
	<header th:replace="/layout/layout :: header"></header>
			
	 
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body"  style="text-align:center">
				<div class="card-title"  style="text-align:center">

	<div class="whole-wrap">
		<div class="container box_1170"  style="text-align:center">
			<div class="section-top-border">
				<div class="welcome_docmed_area">
					<div class="row">
						
						<div class="col-xl-7 col-lg-7" >
							<div class="welcome_docmed_info">
								<h2 th:text="${title}"></h2>							


								<div class="container">
									<div id="canvas-holder">
										<canvas id="chart-area"></canvas>
									</div>					
								</div>			

					 	</div>
						</div>
							
					</div>

				</div>
				<a 	th:href="@{/empleados/}" class="btn btn-xs btn-secondary"><i class="material-icons">skip_previous</i>&laquo; volver</a>
						
			</div>
		</div>				
			</div>
		</div>				
			</div>
	</div>
<footer th:replace="/layout/layout :: footer"></footer>

	<script th:src="@{/js/inventories.js}"></script>

</body>
</html>