<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
</head>
<body>
	<header th:replace="/layout/layout :: header"></header>
	<h2 th:text="${title}"></h2>
<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="welcome_docmed_area">
					<div class="row">
					<div class="col-xl-5 col-lg-5">
							<div class="welcome_thumb">
								<div class="thumb_1">
									<label >Ingrese ID de los productos:</label>
								
								<input class="form-control"value=6 type="number" id="id1"onKeyUp="load()"/>						
								<input class="form-control" value=12 type="number" id="id2"onKeyUp="load()"/>
								<input class="form-control" value=38 type="number" id="id3"onKeyUp="load()"/>
								
								</div>
								
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="welcome_docmed_info">
									
								<div class="container">
									<div id="canvas-holder">
										<canvas id="chart-area"></canvas>
									</div>					
								</div>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div>

<footer th:replace="/layout/layout :: footer"></footer>

	<script th:src="@{/js/inventario.js}"></script>

</body>
</html>