<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<head th:fragment="head">
	<title th:text="'Proyecto Ferreteria - ' + ${title}"></title>
	<title th:text="'Proyecto Ferreteria - ' + ${title2}"></title>
	
	<!-- CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"></link>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous"></link>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"></link>
	
	<!-- SCRIPTS -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script type="application/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="application/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="application/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

 <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #3346FF;
}
</style>


<header th:fragment="menu">
          	
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
          
			<a class="navbar-brand" th:href="@{'/'}"><img src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1426089174/se3kybrisls2hwrfmnmb.png"
			 width="55" height="50"> Electro Pérez  | 		
 
	 </a>
	 
	
	 
	 
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="hasRole('ROLE_ADMIN')"class="nav-item active"><a class="nav-link" href="#"
						th:href="@{/clientes/}" th:text="#{text.layout.clients}"></a></li>
				
					<li class="nav-item active"><a class="nav-link" href="#"
						th:href="@{/empleados/}" th:text="Empleados"></a></li>
						
					<li class="nav-item active"><a class="nav-link" href="#"
						 th:href="@{/producto/list}" th:text="Productos"></a></li>	
						 	
					<li class="nav-item active"><a class="nav-link" href="#"
						 th:href="@{/inventario/form3/1}" th:text="Inventario"></a></li>
				 
				</ul>
				
				
				<ul class="navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()"><a
										th:href="@{/usuario/create}"><i class="fas fa-sign-in-alt"></i>Registrarse</a></li>
					
					<li style="float:left" sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary" th:href="@{/login}" th:text="#{text.layout.login}"></a></li>
										
										
					
										
					<li style="float:left" sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							sec:authentication="name"></span></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form th:action="@{/logout}" method="post" id="logoutForm">
								<button onclick="document.getElementById('logoutForm').submit();"
									class="dropdown-item" th:text="#{text.layout.logout}"></button>
							</form>
						</div></li>
				</ul>
				
				
			
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<p sec:authorize="isAuthenticated()">
		
			  <span sec:authentication="name"></span>  
			  <span
				sec:authentication="principal.authorities"></span>
		</p>
		  
	</footer>

</body>
</html>