<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:replace="/layout/layout :: head">
</head>
<body>
	<header th:replace="/layout/layout :: header"></header>
			
	 
		<div class="card bg-light">
			  	
				<div class="card-title"  style="text-align:center">
						
	<div class="whole-wrap">
	 			
		<div class="container box_1170"  style="text-align:justify">
			 
				<div class="welcome_docmed_area">
					<div class="row"> 
	 					<div class="container">
									<div id="canvas-holder">
										<canvas id="chart-area"></canvas>
					<a 	th:href="@{/clientes/}" class="btn btn-xs btn-secondary">&laquo; volver</a>
				
		 						</div>	
							</div>					
					 	</div>
					</div>
				</div>
					
			</div>
				
		</div>	
		 		
</div> 
<footer th:replace="/layout/layout :: footer"></footer>

	<script th:src="@{/js/factura.js}"></script>

</body>
</html>