<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:replace="/layout/layout :: head">
</head>
<body> 
	<header th:replace="/layout/layout :: header"></header>


<div class="card border-primary text-center">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${title2}"></div>
			<div class="card-body">
				<div th:object="${employee}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
			<div style="text-align:center"> 
			 </div>
			 
			 			<div style="text-align:center">
<img src="http://www.ferreteriaflorencia.com/images/noticias/clientes-para-su-negocio1.jpg"
			 width="300" height="300">
			 </div>
			 <br><br>
				<form th:action="@{/form2}" th:object="${employee}" method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{name}" placeholder="Nombre" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="form-text text-danger" ></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Celular</label>
						<div class="col-sm-6">
						
						 
							<input type="tel" name="phone" pattern="[0-9]{2}-[0-9]{8}" required
							 th:field="*{phone}" placeholder="formato: 09-00000000" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email}" placeholder="Email" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{createdAt}" placeholder="formato: dd-mm-aa" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('createdAt')}"
								th:errors="*{createdAt}" class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="file">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Empleado"
								class="btn btn-success" />
						</div>
					</div>
					<!-- Para cuando no usamos @SessionAttributes <input type="hidden" th:field="*{id}" /> -->
				</form>
			</div>
		</div>


	</div>

	<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>