<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8"></meta>
<head th:replace="/layout/layout :: head">
<body> 
	 <header th:replace="/layout/layout :: header"></header>
 
	 <div style="background-image: url(https://http2.mlstatic.com/kit-set-juego-herramientas-electricista-electricidad-pro-D_NQ_NP_710611-MLA31352758986_072019-F.jpg); height: 520px; width: 1200px; "><a th:href="@{/producto/create}">.</a></div>
	 	 
<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>